Replybrary_1_0_0_20/Workflows/EndFormFlowReminder-128F82AA-B942-F011-877A-000D3A0CEB69.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "wmreply_sharedsharepointonline_f12ce"
        },
        "runtimeSource": "embedded"
      },
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "wmreply_sharedteams_a045b"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Replybrary_SP_Site (wmreply_Replybrary_SP_Site)": {
          "defaultValue": "https://wmreplyukdev.sharepoint.com/sites/ReplybraryDev",
          "type": "String",
          "metadata": {
            "schemaName": "wmreply_Replybrary_SP_Site"
          }
        },
        "Replybrary_Project_List (wmreply_Replybrary_Project_List)": {
          "defaultValue": "98295499-eba6-4d4b-af02-3eb8acc06b48",
          "type": "String",
          "metadata": {
            "schemaName": "wmreply_Replybrary_Project_List"
          }
        },
        "Replybrary_App_Link (wmreply_Replybrary_App_Link)": {
          "defaultValue": "https://apps.powerapps.com/play/e/512bac6d-af73-e544-b4a6-5be90837f2a2/a/faf7e1d2-685b-488a-93b0-18aa09168491?tenantId=0a8f93eb-d1c3-4a4c-a834-06ee3ec8d44c&hint=af928232-012e-4235-ab6a-b6da40c447f8&sourcetime=1747662695760",
          "type": "String",
          "metadata": {
            "schemaName": "wmreply_Replybrary_App_Link"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "startTime": "2025-06-06T09:00:00Z",
            "schedule": {
              "weekDays": [
                "Monday"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "594d65f5-3dc9-421f-bd7d-28d7b104d7f1"
          }
        }
      },
      "actions": {
        "Get_items": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "@parameters('Replybrary_SP_Site (wmreply_Replybrary_SP_Site)')",
              "table": "@parameters('Replybrary_Project_List (wmreply_Replybrary_Project_List)')",
              "$filter": "ProjectEndDate le '@{formatDateTime(addDays(utcNow(), -7), 'yyyy-MM-dd')}' and Active eq 1"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bcc42c0d-2bf5-44b4-8600-c75df9d3ac48"
          }
        },
        "For_each": {
          "type": "Foreach",
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Post_adaptive_card_and_wait_for_a_response": {
              "type": "OpenApiConnectionWebhook",
              "inputs": {
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Chat with Flow bot",
                  "body/body/messageBody": "{\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.4\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Project Closure\",\n      \"weight\": \"Bolder\",\n      \"size\": \"Large\"\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Project: **@{items('For_each')?['ProjectName']}**\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Project End Date: **@{items('For_each')?['ProjectEndDate']}**\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"This is a reminder message to close this project. Has the project finished? If it's not finished, please pick a new end date.\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"Input.ChoiceSet\",\n      \"id\": \"action\",\n      \"style\": \"expanded\",\n      \"isMultiSelect\": false,\n      \"choices\": [\n        {\n          \"title\": \"Yes, the project is finished\",\n          \"value\": \"finish\"\n        }\n      ]\n    },\n    {\n      \"type\": \"Input.Date\",\n      \"id\": \"newDate\",\n      \"title\": \"New End Date (if not finished)\"\n    },\n    {\n      \"type\": \"Input.Text\",\n      \"id\": \"itemId\",\n      \"value\": \"@{items('For_each')?['ID']}\",\n      \"isVisible\": false\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.Submit\",\n      \"title\": \"Submit\"\n    }\n  ]\n}\n",
                  "body/body/updateMessage": "Thanks for your response!",
                  "body/body/recipient/to": "@items('For_each')?['PM/Email']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                  "operationId": "PostCardAndWaitForResponse",
                  "connectionName": "shared_teams"
                }
              },
              "metadata": {
                "operationMetadataId": "355ee9b0-db3b-41e2-9ae3-d65e5d76c23a"
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@\toutputs('Post_adaptive_card_and_wait_for_a_response')?['body']?['data']?['action']",
                      "finish"
                    ]
                  }
                ]
              },
              "actions": {
                "Update_item": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@parameters('Replybrary_SP_Site (wmreply_Replybrary_SP_Site)')",
                      "table": "@parameters('Replybrary_Project_List (wmreply_Replybrary_Project_List)')",
                      "id": "@items('For_each')?['ID']",
                      "item/Active": false,
                      "item/Design": false,
                      "item/ACM": false,
                      "item/PowerBI": false,
                      "item/PowerAutomate": false,
                      "item/CopilotStudio": false,
                      "item/PowerApps": false,
                      "item/CustomDev": false,
                      "item/M365CopilotAdoption": false,
                      "item/Intranet": false,
                      "item/VivaEngage": false
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "PatchItem",
                      "connectionName": "shared_sharepointonline"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "1065e18c-7aa0-4c48-bb5e-13a29cc13707"
                  }
                },
                "Post_card_in_a_chat_or_channel": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "poster": "Flow bot",
                      "location": "Chat with Flow bot",
                      "body/recipient": "@outputs('Update_item')?['body/PM/Email']",
                      "body/messageBody": "{\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.4\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"✅ Project Closure Confirmed\",\n      \"weight\": \"Bolder\",\n      \"size\": \"Large\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Thanks for confirming that the project is complete.\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Please open the **Reply-brary app** to verify and update the project's final details.\",\n      \"wrap\": true\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Open Reply-brary App\",\n      \"url\": \"@{parameters('Replybrary_App_Link (wmreply_Replybrary_App_Link)')}\"\n    }\n  ]\n}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                      "operationId": "PostCardToConversation",
                      "connectionName": "shared_teams"
                    }
                  },
                  "runAfter": {
                    "Update_item": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4250bd37-17d3-4f1b-a9d6-071e93b70d09"
                  }
                }
              },
              "else": {
                "actions": {
                  "Update_item-copy": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "dataset": "@parameters('Replybrary_SP_Site (wmreply_Replybrary_SP_Site)')",
                        "table": "@parameters('Replybrary_Project_List (wmreply_Replybrary_Project_List)')",
                        "id": "@items('For_each')?['ID']",
                        "item/ProjectEndDate": "@outputs('Post_adaptive_card_and_wait_for_a_response')?['body']?['data']?['newDate']",
                        "item/Active": true,
                        "item/Design": false,
                        "item/ACM": false,
                        "item/PowerBI": false,
                        "item/PowerAutomate": false,
                        "item/CopilotStudio": false,
                        "item/PowerApps": false,
                        "item/CustomDev": false,
                        "item/M365CopilotAdoption": false,
                        "item/Intranet": false,
                        "item/VivaEngage": false
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                        "operationId": "PatchItem",
                        "connectionName": "shared_sharepointonline"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "65e72b7b-17d4-498c-aeca-409825b3c33f"
                    }
                  }
                }
              },
              "runAfter": {
                "Post_adaptive_card_and_wait_for_a_response": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2433bc7c-314a-4cf7-be38-a10e75ed8382"
              }
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "556171f4-a67a-4112-aefb-212465ff2d7b"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}