Replybrary_1_0_0_20/Workflows/IdentifierReminderFlow-D4AE74B0-DA42-F011-877A-000D3A0CEB69.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "wmreply_sharedsharepointonline_f12ce"
        },
        "runtimeSource": "embedded"
      },
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "wmreply_sharedteams_a045b"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Replybrary_SP_Site (wmreply_Replybrary_SP_Site)": {
          "defaultValue": "https://wmreplyukdev.sharepoint.com/sites/ReplybraryDev",
          "type": "String",
          "metadata": {
            "schemaName": "wmreply_Replybrary_SP_Site"
          }
        },
        "Replybrary_Project_List (wmreply_Replybrary_Project_List)": {
          "defaultValue": "98295499-eba6-4d4b-af02-3eb8acc06b48",
          "type": "String",
          "metadata": {
            "schemaName": "wmreply_Replybrary_Project_List"
          }
        },
        "Replybrary_App_Link (wmreply_Replybrary_App_Link)": {
          "defaultValue": "https://apps.powerapps.com/play/e/512bac6d-af73-e544-b4a6-5be90837f2a2/a/faf7e1d2-685b-488a-93b0-18aa09168491?tenantId=0a8f93eb-d1c3-4a4c-a834-06ee3ec8d44c&hint=af928232-012e-4235-ab6a-b6da40c447f8&sourcetime=1747662695760",
          "type": "String",
          "metadata": {
            "schemaName": "wmreply_Replybrary_App_Link"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "startTime": "2025-06-06T09:00:00Z",
            "schedule": {
              "weekDays": [
                "Monday"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "62e031af-b783-4e1d-a535-511b9143e6f5"
          }
        }
      },
      "actions": {
        "Get_items": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "@parameters('Replybrary_SP_Site (wmreply_Replybrary_SP_Site)')",
              "table": "@parameters('Replybrary_Project_List (wmreply_Replybrary_Project_List)')",
              "$filter": "LeadOwner/Id ne null and IdentifierFormFilled eq false"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4173f630-97e3-477b-aeee-53eb8b93b90b"
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GroupedProjects",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ab698dd4-2b09-4947-b3c0-e6023b0bc1ff"
          }
        },
        "Apply_to_each": {
          "type": "Foreach",
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Filter_array": {
              "type": "Query",
              "inputs": {
                "from": "@variables('GroupedProjects')",
                "where": "@equals(item()['LeadOwnerEmail'],items('Apply_to_each')?['LeadOwner']?['Email'])"
              },
              "metadata": {
                "operationMetadataId": "8b2007d3-109a-4e53-966d-49470f00df51"
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@length(body('Filter_array'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Append_to_array_variable": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "GroupedProjects",
                    "value": {
                      "LeadOwnerEmail": "@{items('Apply_to_each')?['LeadOwner']?['Email']}",
                      "LeadOwnerName": "@{items('Apply_to_each')?['LeadOwner']?['DisplayName']}",
                      "Projects": [
                        {
                          "ProjectName": "@{items('Apply_to_each')?['ProjectName']}"
                        }
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "fbac25ff-0500-48c2-9448-646fc87d6f3e"
                  }
                }
              },
              "else": {
                "actions": {
                  "UpdatedProjects": {
                    "type": "Compose",
                    "inputs": "@union(\r\n  body('Filter_array')[0]['Projects'],\r\n  array(\r\n    json(concat('{ \"ProjectName\": \"', items('Apply_to_each')?['ProjectName'], '\" }'))\r\n  )\r\n)\r\n",
                    "metadata": {
                      "operationMetadataId": "39603229-b1cd-4fad-bdca-b7d34bffd432"
                    }
                  },
                  "UpdatedLeadOwner": {
                    "type": "Compose",
                    "inputs": {
                      "LeadOwnerEmail": "@{items('Apply_to_each')?['LeadOwner']?['Email']}",
                      "LeadOwnerName": "@{items('Apply_to_each')?['LeadOwner']?['DisplayName']}",
                      "Projects": "@outputs('UpdatedProjects')"
                    },
                    "runAfter": {
                      "UpdatedProjects": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "fdbdde6a-1950-4ebd-a35f-27f69605b79b"
                    }
                  },
                  "Set_variable": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "GroupedProjects",
                      "value": "@union(\r\n  body('RemainingGroupedProjects'),\r\n  array(outputs('UpdatedLeadOwner'))\r\n)\r\n"
                    },
                    "runAfter": {
                      "RemainingGroupedProjects": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f9986591-e010-42e6-a85c-9fb0ff9f7646"
                    }
                  },
                  "RemainingGroupedProjects": {
                    "type": "Query",
                    "inputs": {
                      "from": "@variables('GroupedProjects')",
                      "where": "@not(equals(item()['LeadOwnerEmail'],items('Apply_to_each')?['LeadOwner']?['Email']))"
                    },
                    "runAfter": {
                      "UpdatedLeadOwner": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "45176aad-88e3-4f9f-b049-af13495aa80e"
                    }
                  }
                }
              },
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b0c39967-4286-480e-95f5-425303ab7418"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "76c66c16-3b66-4fca-9f3a-4f360bd2d458"
          }
        },
        "Apply_to_each_1": {
          "type": "Foreach",
          "foreach": "@variables('GroupedProjects')",
          "actions": {
            "Condition_1": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(items('Apply_to_each_1')?['Projects'])\r\n",
                      1
                    ]
                  }
                ]
              },
              "actions": {
                "Join": {
                  "type": "Join",
                  "inputs": {
                    "from": "@variables('newarray')",
                    "joinWith": "\\n\\n- "
                  },
                  "runAfter": {
                    "Apply_to_each_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ff9da089-9d22-4424-a4a5-fb48d62f9d6c"
                  }
                },
                "Post_card_in_a_chat_or_channel": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "poster": "Flow bot",
                      "location": "Chat with Flow bot",
                      "body/recipient": "@items('Apply_to_each_1')?['LeadOwnerEmail']",
                      "body/messageBody": "{\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.4\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"**Reminder:** You are the identifier for the following projects:\",\n      \"wrap\": true,\n      \"size\": \"Medium\",\n      \"weight\": \"Bolder\"\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"- @{body('Join')}\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Please go to the **Reply-brary App** and assign a PM to these projects. \\n\\nTo do this:\\n- Go to the **Project Library** screen.\\n- Turn on the **Actionable Filter** toggle to view projects requiring your input.\\n- Click the **pencil icon** next to the relevant project to open the form.\\n- Navigate to the **Project Team** tab, assign a PM, and click **Submit** to save.\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"ActionSet\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Reply-brary App\",\n          \"url\": \"@{parameters('Replybrary_App_Link (wmreply_Replybrary_App_Link)')}\"\n        }\n      ]\n    }\n  ]\n}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                      "operationId": "PostCardToConversation",
                      "connectionName": "shared_teams"
                    }
                  },
                  "runAfter": {
                    "Join": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9e907fd5-fa98-46b3-ba2e-d6d239610e2d"
                  }
                },
                "Apply_to_each_2": {
                  "type": "Foreach",
                  "foreach": "@items('Apply_to_each_1')?['Projects']",
                  "actions": {
                    "Append_to_array_variable_1": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "newarray",
                        "value": "@item()?['ProjectName']"
                      },
                      "metadata": {
                        "operationMetadataId": "d21d3627-c911-499e-b034-b821b932011d"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_variable_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0d28f442-c83d-4756-982c-b1785ce67ee5"
                  }
                },
                "Set_variable_1": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "newarray",
                    "value": []
                  },
                  "metadata": {
                    "operationMetadataId": "ba946366-e4a8-4769-a5c9-f77ef2ad7373"
                  }
                }
              },
              "else": {
                "actions": {
                  "Post_card_in_a_chat_or_channel_1": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "poster": "Flow bot",
                        "location": "Chat with Flow bot",
                        "body/recipient": "@items('Apply_to_each_1')?['LeadOwnerEmail']",
                        "body/messageBody": "{\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.4\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"**This is a reminder message as you still haven't submitted the form for this project**. You have been assigned as the identifier for this project - **@{items('Apply_to_each_1')?['Projects'][0]['ProjectName']}**.\",\n      \"wrap\": true,\n      \"size\": \"Medium\",\n      \"weight\": \"Bolder\",\n      \"spacing\": \"Medium\"\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Please go to the **Reply-brary App** and assign a PM to this project so they can update the project details. \\n\\nTo do this:\\n- Go to the **Project Library** screen.\\n- Turn on the **Actionable Filter** toggle to view projects requiring your input.\\n- Click the **pencil icon** next to the relevant project to open the form.\\n- Navigate to the **Project Team** tab, assign a PM, and click **Submit** to save.\",\n      \"wrap\": true,\n      \"spacing\": \"Small\"\n    },\n    {\n      \"type\": \"ActionSet\",\n      \"spacing\": \"Large\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Reply-brary App\",\n          \"url\": \"@{parameters('Replybrary_App_Link (wmreply_Replybrary_App_Link)')}\"  \n        }\n      ]\n    }\n  ]\n}"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                        "operationId": "PostCardToConversation",
                        "connectionName": "shared_teams"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "b16031a2-a434-4e68-950b-6b007fa250bb"
                    }
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "4d04ee31-bf10-47e5-a7f7-106463de4d0e"
              }
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5dbf9f4-8b35-4b43-a6ee-e3ffa5c68f12"
          }
        },
        "Initialize_variable_1": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "newarray",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c30c27d0-e501-4056-9d31-9c8f371f3a6b"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}