Replybrary_1_0_0_20/Workflows/PMFormReminderFlow-B025C04D-D342-F011-877A-000D3A0CEB69.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "wmreply_sharedsharepointonline_f12ce"
        },
        "runtimeSource": "embedded"
      },
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "wmreply_sharedteams_a045b"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Replybrary_App_Link (wmreply_Replybrary_App_Link)": {
          "defaultValue": "https://apps.powerapps.com/play/e/512bac6d-af73-e544-b4a6-5be90837f2a2/a/faf7e1d2-685b-488a-93b0-18aa09168491?tenantId=0a8f93eb-d1c3-4a4c-a834-06ee3ec8d44c&hint=af928232-012e-4235-ab6a-b6da40c447f8&sourcetime=1747662695760",
          "type": "String",
          "metadata": {
            "schemaName": "wmreply_Replybrary_App_Link"
          }
        },
        "Replybrary_SP_Site (wmreply_Replybrary_SP_Site)": {
          "defaultValue": "https://wmreplyukdev.sharepoint.com/sites/ReplybraryDev",
          "type": "String",
          "metadata": {
            "schemaName": "wmreply_Replybrary_SP_Site"
          }
        },
        "Replybrary_Project_List (wmreply_Replybrary_Project_List)": {
          "defaultValue": "98295499-eba6-4d4b-af02-3eb8acc06b48",
          "type": "String",
          "metadata": {
            "schemaName": "wmreply_Replybrary_Project_List"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "startTime": "2025-06-06T09:00:00Z",
            "schedule": {
              "weekDays": [
                "Monday"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b1bcdba7-89b9-4619-ac2a-e11f2abd3d96"
          }
        }
      },
      "actions": {
        "Get_items": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "@parameters('Replybrary_SP_Site (wmreply_Replybrary_SP_Site)')",
              "table": "@parameters('Replybrary_Project_List (wmreply_Replybrary_Project_List)')",
              "$filter": "PM/Id ne null and PMFirstFormFilled eq false"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a835edc8-2169-475c-9357-8d1d10b201bd"
          }
        },
        "Apply_to_each": {
          "type": "Foreach",
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Condition_2": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Apply_to_each')?['Legacy']",
                      true
                    ]
                  }
                ]
              },
              "actions": {
                "Filter_array": {
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('GroupedProjects')",
                    "where": "@equals(item()['PMEmail'],items('Apply_to_each')?['PM/Email'])"
                  }
                },
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@length(body('Filter_array'))",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Append_to_array_variable": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "GroupedProjects",
                        "value": {
                          "PMEmail": "@{items('Apply_to_each')?['PM']?['Email']}",
                          "PMName": "@{items('Apply_to_each')?['PM']?['DisplayName']}",
                          "Projects": [
                            {
                              "ProjectName": "@{items('Apply_to_each')?['ProjectName']}"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "UpdatedProjects": {
                        "type": "Compose",
                        "inputs": "@union(\r\n  body('Filter_array')[0]['Projects'],\r\n  array(\r\n    json(concat('{ \"ProjectName\": \"', items('Apply_to_each')?['ProjectName'], '\" }'))\r\n  )\r\n)"
                      },
                      "UpdatedPM": {
                        "type": "Compose",
                        "inputs": {
                          "PMEmail": "@{items('Apply_to_each')?['PM']?['Email']}",
                          "PMName": "@{items('Apply_to_each')?['PM']?['DisplayName']}",
                          "Projects": "@outputs('UpdatedProjects')"
                        },
                        "runAfter": {
                          "UpdatedProjects": [
                            "Succeeded"
                          ]
                        }
                      },
                      "RemainingGroupedProjects": {
                        "type": "Query",
                        "inputs": {
                          "from": "@variables('GroupedProjects')",
                          "where": "@not(equals(item()['PMEmail'],items('Apply_to_each')?['PM/Email']))"
                        },
                        "runAfter": {
                          "UpdatedPM": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Set_variable": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "GroupedProjects",
                          "value": "@union(\r\n  body('RemainingGroupedProjects'),\r\n  array(outputs('UpdatedPM'))\r\n)\r\n"
                        },
                        "runAfter": {
                          "RemainingGroupedProjects": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_array": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              }
            }
          },
          "runAfter": {
            "Initialize_variable_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "92d36f84-72ef-417b-b863-de517cf76ac7"
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GroupedProjects",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          }
        },
        "Initialize_variable_1": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "newarray",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          }
        },
        "Apply_to_each_1": {
          "type": "Foreach",
          "foreach": "@variables('GroupedProjects')",
          "actions": {
            "Condition_1": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(items('Apply_to_each_1')?['Projects'])",
                      1
                    ]
                  }
                ]
              },
              "actions": {
                "Set_variable_1": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "newarray",
                    "value": []
                  }
                },
                "Apply_to_each_2": {
                  "type": "Foreach",
                  "foreach": "@items('Apply_to_each_1')?['Projects']",
                  "actions": {
                    "Append_to_array_variable_1": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "newarray",
                        "value": "@item()?['ProjectName']"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_variable_1": [
                      "Succeeded"
                    ]
                  }
                },
                "Join": {
                  "type": "Join",
                  "inputs": {
                    "from": "@variables('newarray')",
                    "joinWith": "\\n\\n- "
                  },
                  "runAfter": {
                    "Apply_to_each_2": [
                      "Succeeded"
                    ]
                  }
                },
                "Post_card_in_a_chat_or_channel_1": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "poster": "Flow bot",
                      "location": "Chat with Flow bot",
                      "body/recipient": "@items('Apply_to_each_1')?['PMEmail']",
                      "body/messageBody": "{\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.4\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"**Reminder:** You are the PM for the following projects:\",\n      \"wrap\": true,\n      \"size\": \"Medium\",\n      \"weight\": \"Bolder\"\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"- @{body('Join')}\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Please go to the **Reply-brary App** and update the details for this project.\",\n      \"wrap\": true\n    },\n    {\n      \"type\": \"ActionSet\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Reply-brary App\",\n          \"url\": \"@{parameters('Replybrary_App_Link (wmreply_Replybrary_App_Link)')}\"\n        }\n      ]\n    }\n  ]\n}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                      "operationId": "PostCardToConversation",
                      "connectionName": "shared_teams"
                    }
                  },
                  "runAfter": {
                    "Join": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Post_card_in_a_chat_or_channel": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "poster": "Flow bot",
                        "location": "Chat with Flow bot",
                        "body/recipient": "@{items('Apply_to_each_1')?['PMEmail']};",
                        "body/messageBody": "{\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.4\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"**This is a reminder message as you still haven't submitted the form for this project**. You have been assigned as the PM for this project - **@{items('Apply_to_each_1')?['Projects'][0]['ProjectName']}**.\",\n      \"wrap\": true,\n      \"size\": \"Medium\",\n      \"weight\": \"Bolder\",\n      \"spacing\": \"Medium\"\n    },\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Please go to the **Reply-brary App** and update the details for this project.\",\n      \"wrap\": true,\n      \"spacing\": \"Small\"\n    },\n    {\n      \"type\": \"ActionSet\",\n      \"spacing\": \"Large\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Reply-brary App\",\n          \"url\": \"@{parameters('Replybrary_App_Link (wmreply_Replybrary_App_Link)')}\"  \n        }\n      ]\n    }\n  ]\n}"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                        "operationId": "PostCardToConversation",
                        "connectionName": "shared_teams"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "7d20967d-5d02-4cf7-aa66-0cb4bacfc22a"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}